<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
      <h4>
        <div class="left">
          <%= gravatar_for @user %>
          <% if current_user.manages?(current_user_role(@user), @project) && !current_user?(@user) %>
                | <%= link_to 'מחק משתמש', @user, method: :delete, data: { confirm: "האם אתה בטוח?" } %>
          <% end %>
        </div>
        <div class="right">
          <b>שם: </b> <%= @user.name %>
          <br>
          <br><%= @user.email %>
          <br> 
          <br><b>תפקיד: </b> <%= Role.text(@role.authority) %>
        </div>
      </h4>
    </section>
  </aside>
</div>