= label :project, :name, 'Name'
= text_field :project, 'name'

= label :project, :admin, 'Admin'
= text_field :project, 'admin'

= label :project, :address, 'Address'
= text_field :project, 'address'

= label :project, :email, 'eMail of Project'
= text_field :project, 'email'

= label :project, :since, 'Start Activity Date'
= date_select :project, :since