<% provide(:title, 'Project') %>
<h2>
  Edit <%= "#{@project.name}" %>
</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_with(model: @project, local: true) do |f| %>
      <%= render 'project' %>
    <% end %>
  </div>
</div>
<div class="left">
  <%= link_to 'View Buildings', buildings_path, class: 'btn btn-primary' %>
</div>
<div class="right">
  <%= link_to 'View Units', units_path, class: 'btn btn-primary' %>
</div>
