<tr id="ספר-<%= book.id %>">
  <td><%= link_to "#{book.name}", edit_book_path(book.id) %></td>
  <td><%= Book.group.invert[book.kind] %></td>
  <td><% if !book.group_id.nil? %>
    <%= Book.find(book.group_id).name  %>
  <% else %>
    <%= " " %>
  <% end %></td>
</tr>
