<tr id="unit-<%= unit.id %>">
  <td><%= unit.number %></td>
  <td><%= Building.find(unit.building).id_code if unit.building != nil %></td>
  <td><%= unit.floor %></td>
  <td><%= unit.since %></td>
  <td>
    <span><%= link_to "Edit", edit_unit_path(unit.id) %></span>
  </td>
</tr>
