<% provide(:title, 'Unit') %>

<h2>
  דירה <%= "#{@unit.number} בפרוייקט #{@project.name}"  if project_set? %>
</h2>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
  דירה: <%= @unit.number %><br>
  שטח: <%= @unit.area %><br>
  בניין: <%= Building.find(@unit.building).id_code %><br>
  קומה: <%= @unit.floor %><br>
  מתאריך: <%= @unit.since %><br>
  </div>
</div>  
