<header class='navbar navbar-fixed-top navbar-expand-lg navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <ul class='nav navbar-nav navbar-left'>
        <%= render 'layouts/menu_login' %>
      </ul>
    </div>
    <div class="navbar-brand; right">
      <%= link_to image_tag('VAS.ico', size: 35), root_path, id: 'logo' %>
      
    </div>
    <div class='collapse navbar-collapse' id='mainMenu'>
      <ul class='nav navbar-nav  navbar-right' id='mainMenu'>
        <li><%= link_to 'About',  about_path %></li>
        <% if logged_in? %>
          <%= render 'layouts/menu_my_status' %>
          <%= render 'layouts/menu_admin' %>
          <%= render 'layouts/menu_batches' %>
          <%= render 'layouts/menu_budget' %>
          <%= render 'layouts/menu_expense' %>
          <%= render 'layouts/menu_income' %>
          <%= render 'layouts/menu_3rd_party' %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
